body {
  margin: 0;
  background-color: #e3fdfd;
}

h1 {
  margin-bottom: 0px;
}

p {
  margin-top: 0;
}

img {
  border-radius: 50%;
  width: 80%;
  margin: 0;
  padding: 0;
  border: 0;
}

hr {
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  height: 0;
  width: 5%;
}

h3,
h1 {
  color: #66bfbf;
}
